version: 2.1

orbs:
  architect: giantswarm/architect@6.8.0

workflows:
  test:
    jobs:
      - architect/go-build:
          name: go-build
          binary: proxysocks
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          requires:
            - go-build
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master

      - architect/push-to-app-catalog:
          executor: app-build-suite
          context: architect
          name: push-giantswarm-playground-app-catalog
          app_catalog: giantswarm-playground-catalog
          app_catalog_test: giantswarm-playground-test-catalog
          chart: proxysocks
          requires:
          - push-to-registries
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
              - main
              - master
