name: gs-proxy
serviceType: "managed"
replicaCount: 1

image:
  repository: quay.io/giantswarm/proxysocks
  tag: ""
  pullPolicy: IfNotPresent

# Authentication configuration
auth:
  enabled: true
  createSecret: true

  secret:
    name: "gs-proxy-auth"
    usernameKey: "username"
    passwordKey: "password"

  credentials:
    username: "admin"
    password: "changeme"

service:
  type: LoadBalancer
  port: 8000
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "proxy.hackathon-dx.gaws.gigantic.io"
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"
    giantswarm.io/external-dns: managed

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    memory: 200Mi
